#overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  width: 100%;
  height: 100%;
  opacity: .7;
  background: #000 none;
}

* {
  font-family: "Open Sans", sans-serif;
}

.header {
  position: fixed;
  z-index: 99;
  width: 95%;
  left: 2.5%;
  background-color: #fff;
}

.header__container-largeDevice {
  padding: 6px 6.5%;
  margin: 0 auto;
}

.header__brand-logo {
  background: transparent url("../img/bsr-sprite2x.png") no-repeat -200px 0;
  width: 93px;
  height: 35px;
  background-size: 400px 200px;
  display: inline-block;
  padding: 0;
  margin: 6px 0 0 0;
}

.header__brand-copy {
  display: block;
  margin-top: -5px;
  color: #425968;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

.header__list {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__list .nav-item .nav-link {
  font-weight: 500;
  color: #1E85C3;
  padding: 10px 15px;
  padding-top: 6px;
  font-size: 17px;
}

.header__list-left > li.nav-item.show > .nav-link {
  color: #333;
}

.header__list-left .nav-item .dropdown-menu {
  position: fixed;
  top: 80px;
  left: 2.5%;
  width: 95%;
}

.header__list-left #vehicles-dropdown {
  border: unset;
  padding-top: 0;
}

.header__list-left #vehicles-dropdown ul.nav-pills {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fafafa;
  border-bottom: 1px solid #ddd;
}

.header__list-left #vehicles-dropdown ul.nav-pills::before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  height: 5px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12) inset;
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12) inset;
}

.header__list-left #vehicles-dropdown .vehicles-nav .nav-link {
  font-size: 15px;
  padding: 25px 15px;
  position: relative;
}

.header__list-left #vehicles-dropdown .vehicles-nav .nav-link::after {
  position: absolute;
  display: block;
  content: "";
  bottom: 0;
  left: 0;
  z-index: 5;
  width: 0%;
  height: 4px;
  background-color: #2d96cd;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header__list-left #vehicles-dropdown .vehicles-nav .nav-link:hover::after {
  width: 100%;
  background-color: #2d96cd;
}

.header__list-left #vehicles-dropdown .vehicles-nav .nav-link.active {
  color: #333;
  background-color: unset;
}

.header__list-left #vehicles-dropdown .vehicles-nav .nav-link.active::after {
  width: 100%;
  background-color: #102b4e;
}

.header__list-left #vehicles-dropdown .vehicles-nav .nav-link.active:hover::after {
  background-color: #102b4e;
}

.header__list-right .nav-item .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
}

.header__list-right .nav-item .nav-link-iconListRight i {
  color: #2096cd;
  font-size: 26px;
}

.carousel {
  padding-top: 5.5%;
}

.carousel__container {
  position: relative;
  width: 95%;
  margin: 0 auto;
}

.carousel img {
  min-height: 320px;
  width: 100%;
}

.carousel .carousel-indicators li {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin: 1px 12px;
  opacity: 1;
  -webkit-transition: -webkit-transform .5s ease-out;
  transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out;
  transition: transform .5s ease-out, -webkit-transform .5s ease-out;
}

.carousel .carousel-indicators li.active {
  margin-top: 10px;
  background-color: transparent;
  border: 1px solid #fff;
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
}

.carousel-inner .carousel-item .carousel-caption {
  cursor: pointer;
  text-align: left;
  top: 3%;
  left: 7%;
}

.carousel-inner .carousel-item .carousel-caption:hover i {
  background-color: #fff;
  color: black;
}

.carousel-inner .carousel-item .carousel-caption .caption-text {
  font-size: 17px;
}

.carousel-inner .carousel-item .carousel-caption .caption-icon i {
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  padding: 2px 9px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.carousel .carousel-icon {
  position: absolute;
  z-index: 1;
  width: 55px;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding-bottom: 3px;
  cursor: pointer;
  background-color: rgba(85, 85, 85, 0.8);
}

.carousel .carousel-icon i {
  color: #fff;
  font-size: 60px;
}

.carousel .carousel-icon:hover {
  background-color: #fff;
  border: 1px solid #1E85C3;
}

.carousel .carousel-icon:hover i {
  color: #2096cd;
}

.carousel .carousel-icon:hover.icon-left {
  border-left: 0;
}

.carousel .carousel-icon:hover.icon-right {
  border-right: 0;
}

.carousel .icon-left {
  left: 0;
}

.carousel .icon-right {
  right: 0;
}

.sell {
  text-align: center;
}

.sell__container {
  width: 95%;
  margin: 0 auto;
}
/*# sourceMappingURL=main.css.map */